/*
    面包屑导航
*/

.breadcrumb {
    background-color: inherit !important;
    width: 1200px;
    margin: 0 auto;
    padding: 20px 0;
}

.breadcrumb a {
    display: inline-block;
    text-align: center;   
}
