.nav-container {
    width: 100%;
    min-width: 1200px;
    z-index: 999;
}
.nav-content {
    width: 1200px;
    height: 65px;
    margin: 0 auto;
    min-width: 1200px;
}
.nav-level1:hover{
    text-decoration:none;
}
/* 一级导航 */
.nav-list {
    height: 65px;
    display: block;
    margin: 0 0 0 0;
}
.nav-single{
   display:inline-block;width:120px;height:65px;text-align:center;
}
.nav-level1{
   width:120px;height:65px;line-height:65px;text-align:center;display: inline-block;
}
.nav-dropdownBox{
    display:block;
    width:600px;
}
.nav-dropdown {
    position: relative;
    list-style: none;
    display: none;
    float: left;
    max-width: 600px;
    width: auto;
    text-align: left;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    margin-bottom: 0;
    z-index: 99999;
    line-height: 0;
    font-size: 0;
}
.nav-level2-box {
    font-size: 0;
    line-height: 0;
    display: inline-block;
}
.nav-level3-box {
    display: inline-block;
    max-width: 480px;
}
.nav-dropdown-active{
    display:inline-block;
}
.nav-level2{ 
    display:inline-block;width:120px;height:50px;line-height:50px;text-align:center;vertical-align: top;
}
.nav-level3{
    display:inline-block;width:120px;height:50px;line-height:50px;text-align:center;
}
.nav-tabbar:after {
    display: block;
    clear: both;
    content: "";
}
    .nav-tabbar li {
        display: inline-block;
        float: left;
    }

.nav-tab {
    width: 110px;
    text-align: center;
    display: inline-block;
    height: 66px;
    line-height: 66px;
    cursor: pointer;    
    font-size: 14px;
}


    .nav-dropdown li {
        font-size: 14px;
        text-decoration: none;
        display: inline-block;
        width: 100px;
        height: 45px;
       
        color: #ffffff;
        text-align: center;
        border-top:none;
        
        line-height: 45px;
    }
.nav-dropdown a span{
    display:inline-block;
    /*width:120px;
    height:50px;*/
}
.nav-tab span {
    width: 130px;height:66px;
    color:#ffffff;
    text-align: center;
    display: inline-block;
    line-height: inherit;
    cursor: pointer;
    font-size: 14px;
}

    .nav-tab span:hover {
        width:130px;
        height:64px;
        margin-top:2px;
       
    }
