/*
    功能页左侧导航
*/

.pagenav-main {
    float: left;
    width: 160px;
    background: #ffffff;
}

.pagenav-parent {
    display: block;
    width: 160px;
    height: 50px;
    color: #ffffff;
    font-size: 12px;
    
   
    text-align: center;
    border-radius: 3px;
}


    
.pagenav-parent span {
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    padding: 0 5px;
    height: 45px;
    line-height: 45px;
    border-bottom: 2px solid #ffffff;
}

.pagenav-childlist li:hover {
    background: #f9f9f9;
}

.pagenav-childlist li {
    cursor: pointer;
    width: 160px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border: 1px solid #cccccc;
    border-top: none;
    border-radius: 3px;
}

    .pagenav-childlist li a {
        display: inline-block;
        width: 160px;
        height: 50px;
        color: #333333;
        font-size: 14px;
    }

