
#emptyPage {
    margin-top: 25px;
    height: 220px;
    background-image: url(../../Shared/images/images-middle/noData.png);
    background-position: center;
    background-repeat:no-repeat;
    padding-top:160px;
}
#emptyPage>p{
    text-align:center;
    font-size:16px;
}

#alert{
    position:fixed;
    left:0;
    top:0;
    width:100%;
    z-index:99999;
}
.modal .modal-dialog {
    margin: 250px auto !important;
    height: 552px !important;
    width: 880px !important;
}
.modal, .modal-open {
    padding-right: 0 !important;
}
.userType {
    margin: 40px 0;
}

.userType span.userTypeActive {
    
    display: inline-block;
    padding: 0 10px;
}
.modal-content{
    width:880px !important;
    height:522px !important;
}
.modalBox {
    height: 522px !important;
    width: 880px !important;
    position: relative;
}
.modalBox:after{
    display:block;
    clear:both;
    content:"";
}
.modalBox .modalBox-left{
    float:left;
    width:440px;
    padding:110px 0 0 50px;
}

.modalBox .modalBox-left .icon-pic{
    width:320px;
    height:240px;
}
.modalBox .modalBox-left .userType a {
    font-size: 18px;
    
    display: inline-block;
    text-decoration:none;
    padding-left: 10px;
}
.modalBox .modalBox-left .userType .teacher{
    padding-left:50px;
}
.modalBox .modalBox-right {
    float: left;
}
.modalBox .modalBox-right .right-title {
    font-size: 18px;
    margin-top:70px;
    text-align:center;
}
.modalBox .modalBox-right .inputBox{
    margin-top:50px;
}
.modalBox .modalBox-right .inputBox #check_phone{
    width:268px;
}
.modalBox .modalBox-right .inputBox #check_code {
    width:268px;
}
.modalBox .modalBox-right .buttonBox {
    margin-top: 50px;
}
.modalBox .modalBox-right .buttonBox .modalBtn-color {
    width: 328px;
    height: 40px;
    border:none;
    color: #ffffff;
    border-radius: 4px;
}
    .modalBox .modalBox-right .inputBox .modalBtn-color {
        color: #ffffff;
        border: none;
    }
.modal-dialog {
    margin-top: 250px;
    height: 450px;
    width: 610px;
}

/*.modalBox p {
    text-align: center;
    font-family: '微软雅黑';
    font-size: 20px;
    color: #666666;
    padding:15px 0;
    margin:0 0 0 0;
    border-bottom:1px solid #999999;
}*/

.tableContainer {
    width: 600px;
    margin: 0 auto;
}

input[type=checkbox], [type=radio] {
    margin: 0;
    border-radius: 50%;
}

.placeBtn {
    width: 300px;
    height: 50px;
    
    border-radius: 5px;
    position: absolute;
    color: white;
    border: 0;
    left: 230px;
    bottom: 80px;
}

.addPlace {
    position: absolute;
    left: 270px;
    bottom: 30px;
}

    .addPlace span {
        font-family: '微软雅黑';
        font-size: 13px;
        color: #999;
        line-height: 20px;
    }

    .addPlace a {
        font-family: '微软雅黑';
        font-size: 13px;
        color: #999;
        line-height: 20px;
        font-style: normal;
        text-decoration: underline;
        font-weight: bold;
    }

#page {
    margin: 0 auto;
    text-align: center;
}



.modal .modal-dialog {
    margin-top: 250px;
    height: 450px;
    width: 580px;
}

#myModal10 p {
    text-align: center;
    font-family: '微软雅黑';
    font-size: 20px;
    color: #666666;
    margin-top: 20px;
    margin-bottom: 20px;
    font-style: normal;
    text-decoration: none;
    font-style: normal;
}


#inviteBtnBox2 button {
    width: 180px;
    height: 40px;
    border: none;
    margin: 0 10px;
}


.refuseBox input {
    width: 280px;
    height: 35px;
}

.modalTips {
    position: absolute;
    right: 100px;
    bottom: -50px;
    font-size: 12px;
    color: #999999;
}

#inviteBtnBox button {
    margin: 0 auto;
}

#inviteBtnBox2 {
    text-align: center;
    position: absolute;
    bottom: 100px;
    left: 0;
    width: 100%;
}

#inviteBtn {
    width: 300px;
    height: 50px;
    
    color: white;
    border: 0;
}

#errorDiv {
    position: absolute;
    bottom: 160px;
    left: 0;
    text-align: center;
    width: 100%;
    color: #ff0000;
}

.addInfo_box {
    padding-left: 50px;
    margin: 10px 0
}

.addInfo_box2 {
    
    margin: 50px 0;
}

.yuyue div {
    width: 100%;
    padding: 0 20px;
    height: 40px;
    line-height: 40px;
    text-align: left;
    margin: 0 auto;
}

#userLogin {
     padding: 10px 70px;
    
}

.modalBox input, .modalBox select {
    height: 40px;
    width: 150px;
}



#companyloginBtn {
    border: none;
    background: #387ad5;
    color: #ffffff;
    width: 200px;
    height: 40px;
}

.loginBtn {
    border: none;
    background: #387ad5;
    color: #ffffff;
    width: 200px;
    height: 40px;
}


.oDiv{
    min-width:1200px;
    height:40px;
    background-color:#f5f5f5;
    border-bottom:#dddddd;
}
    .oDiv > div {
        width: 1200px;
        height: 40px;
        
        margin: 0 auto;
        text-align: right;
        padding:0 50px;
        font-size: 12px;
        color: #333333;
    }
        .oDiv > div > .welcome {
            float: left;
            line-height: 40px;
        }
        .oDiv > div > .person {
            float: right;
            padding-top:12px;
        }
            .oDiv > div > .person>span{
                display:inline-block;
                height:16px;
                border-right:1px solid #333333;
            }
            .oDiv > div:after {
                display: block;
                clear: both;
                content: "";
            }
        .oDiv > div a {
            text-decoration:none;
            color:#333333;
        }




/*简历投递 & 预约成功模态框*/

#deliveryModal .modal-dialog {
    width: 700px !important;
    height: 420px !important;
}

#deliveryModal .modal-content {
    width: 700px !important;
    height: 420px !important;
    border: none !important;
}

#deliveryModal .modalBox {
    width: 700px !important;
    height: 420px !important;
    padding: 0 !important;
}

    #deliveryModal .modalBox .modalBtn {
        width: 20px;
        height: 20px;
        background: url(../../Shared/images/images-public/close.png) 100% 100%;
        opacity: unset !important;
    }

    #deliveryModal .modalBox .d-left {
        width: 371px;
        height: 420px;
        float: left;
        background-image: url(../../Shared/images/images-public/background.png);
        background-size: 100% 100%;
    }
        #deliveryModal .modalBox .d-left>.resume{
            margin:100px 0 0 70px;
        }
        #deliveryModal .modalBox .d-left > .code {
            margin: 70px 0 0 70px;
            width:170px;
            height:170px;
        }
        #deliveryModal .modalBox .d-left >p{
            margin:20px 0 0 70px;
            line-height:26px;
        }
        #deliveryModal .modalBox .d-right {
            float: left;
            height: 420px;
            padding-top: 70px;
            text-align: center;
        }

        #deliveryModal .modalBox .d-right > p {
            font-size: 18px;
        }

        #deliveryModal .modalBox .d-right > #reason {
            font-size: 22px;
            font-weight: bold;
            margin: 40px 0;
        }

#finish {
    text-decoration: none;
    display: inline-block;
    width: 240px;
    height: 50px;
    line-height: 50px;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    border-radius: 50px;
    margin-top: 70px;
    opacity:unset !important;
    text-shadow:unset !important
}
.pageTotal{
   display:inline-block;
   vertical-align:top;
   margin:20px;
}

.pageCount {
    width: 45px;
    height: 32px;
    text-align: center;
    line-height: 33px;
    margin:0 5px;
}
.pageTotal>.pageAffirm {
    width: 52px;
    height: 33px;
    border: none;
    margin-left: 20px;
    border-radius: 3px;
    color:#ffffff;
}

/*底部工作啦logo*/
.copyright-inner img {
    float: right;
    margin-top:5px !important;
    height: 64px !important;
    margin-bottom:5px !important;
}
.copyright-inner {
    width: 1200px;
}
    .copyright-inner>span{
        margin-top:7px;
        display:inline-block;
    }
    .info-browsecount {
        width: auto;
        height: 25px;
        line-height: 25px;
        border-left: 1px solid #ccc;
        margin-left: 15px;
        display: inline-block;
    }
.info-browsecount > span {
    color: #337ab7;
}
    /*完善信息弹窗*/
    #alertInfo {
        width: 100%;
        height: auto;
        box-sizing: border-box;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 100;
        display: none;
    }
#alertInfo .alertInfo-content {
    width: 310px;
    height: 170px;
    position: absolute;
    left: 50%;
    top: 350px;
    background: #fff;
    transform: translateX(-50%);
    padding: 0px;
    margin: 0px;
    border-radius: 5px;
    box-shadow: 1px 1px 20px #1f1e1e;
}
#alertInfo .alertInfo-content > p {
    height:115px;
    line-height:120px;
    text-align:center;
}
#alertInfo .alertInfo-content > .btn {
    width: 100%;
    height: 55px;
    border-top: 1px solid #ccc;
    line-height: 55px;
    display: flex;
    padding:0px;
    margin:0px;
}
    #alertInfo .alertInfo-content > .btn > a,#alertInfo .alertInfo-content > .btn >p {
        flex: 1;
        text-align: center;
    }
    #alertInfo .alertInfo-content > .btn > p {
        color:#333;
    }
      #alertInfo .alertInfo-content > .btn > a {
            border-right: 1px solid #ccc;
        }

#box-mark {
    width:100%;
    height:100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
    background: #000;
    filter: alpha(opacity=50); /* IE的透明度 */
    opacity: 0.5; /* 透明度 */
    display:none;
}
.layout-main, .bottom-container, .sliderBottom-container {
    min-width: 1200px;
}

/*忘记密码*/

.forget-box{
    display:none;
    float:left;
}
.flex_s {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}
.psw_title {
    width: 373px;
    margin: 20px 17px 0 20px;
    height: 25px;
    line-height: 25px;
    color: #333;
    font-size: 18px;
    font-weight: 700;
}
    .psw_title img{
        width: 20px;
        height: 20px;
        margin-right: 2px;
        margin-top:5px;
    }
.psw_content {
    width: 230px;
    margin: 54px 90px 0;
}

.psw_seleteCollege{
    width: 100%;
    height: 32px;
    border: 1px solid #dde0e3;
}
    .psw_seleteCollege span {
        height: 30px;
        line-height: 30px;
        width: 200px;
        padding-left: 9px;
        color: #333;
        font-size: 12px;
    }
    .psw_seleteCollege img {
        width: 9px;
        height: 12px;
        margin-right: 6px;
    }

    .psw_seleteCollege input {
        width: 95%;
        height: 28px;
        margin-left: 9px;
        font-size: 12px;
        color: #333;
        border:none;
    }

.psw_getsms {
    color: #fd7a22;
    font-size: 12px;
    text-align: center;
    border-left: 1px solid #dde0e3;
    height: 17px;
    cursor: pointer;
}

.psw_seleteCollege img {
    margin-right: 6px;
    border:none;
}

.psw_chips{
    width: 100%;
    color: #f55;
    font-size: 12px;
    margin-top: 50px;
    text-align: center;
}
.psw_seleteCollegebtn {
    width: 100%;
    height: 30px;
    margin-top: 10px;
}
.psw_seleteCollegebtn div {
    width: 105px;
    background-color: #f2f2f2;
    color: #6d7278;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border-radius: 3px;
    cursor: pointer;
}
